/* LOGIN FORM */
body {
    /* Gradient background */
    background: linear-gradient(to bottom, #25055b, #1a1442);
    /* Animation */
    animation: gradientAnimation 10s ease infinite alternate;
    /* Ensure background covers the entire viewport */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Animation for gradient background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.login {
    color: azure;
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header h1 {
    color: #e0dfdf; /* Text color for the header */
    font-size: 1.125rem; /* Font size of the header text */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Font family */
    background-color: azure; /* Background color of the header */
    margin: 0;
}

.login #header h1 a {
    color: azure;
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

/* Add these styles to change the text color of form labels to white */
.form-group label {
    color: white; /* Text color for form labels */
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}

.login #text p {
    color: #e0dfdf; /* Text color for the header */
    font-size: 1rem; /* Font size of the header text */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Font family */
    background-color: azure; /* Background color of the header */
    margin: 0;
}

.login .errorlist {
    color: red; /* Change the text color */
    background-color: #ffe6e6; /* Change the background color */
    border: 1px solid #f00; /* Optional: Add border for emphasis */
    padding: 10px; /* Optional: Adjust padding for spacing */
    margin-bottom: 10px; /* Optional: Adjust margin for spacing */
}

.bg-body-danger {
    /* Background color of the error message */
    color: #ce2435; /* Text color of the error message */
    padding: 10px;
    margin-bottom: 15px;
}
